{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<script src="/static/BigInteger.js"></script>
<script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>

<h2>Welcome, {{ username }}!</h2>
<br>Please cast your <b>single</b> vote for your preferred candidate. Once your vote is submitted it cannot be changed. Your vote is fully <b>ANONYMOUS</b> with our <b>Zero Knowledge Proof (ZKP)</b> system. The voting key is used to ensure <FONT COLOR="GREEN"><b>fair and secure voting</b></FONT> when tabulating the votes.
<p>
  {% if voteFlag == 0 %}
    <b><FONT COLOR="RED">STATUS: You have not voted yet. Please click on the VOTED button to cast your vote.</FONT></b>
  {% else %}
    <b><FONT COLOR="RED">STATUS:</FONT><FONT COLOR="GREEN"> You have already voted. Please wait for the results announcement.</FONT></b>
  {% endif %}
</p>
<h2>Your Candidates</h2>

{% if voteFlag == 0 %}
<table>
  <tr>
    <th>Candidate ID</th>
    <th>Candidate Name</th>
    <th>Cast Vote Here</th>
  </tr>
  {% for candidate in candidates %}
  <tr>
    <td>{{candidate['id']}}</td>
    <td>{{candidate['name']}}</td>
    <td>
        <input type="hidden" name="candidate_id" value="{{candidate['id']}}">
        <button type="submit" id="{{candidate['id']}}" onclick="encrypt(event)" class = "voteButton">VOTE</button>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <table>
    <tr>
      <th>Candidate ID</th>
      <th>Candidate Name</th>
    </tr>
    {% for candidate in candidates %}
    <tr>
      <td>{{candidate['id']}}</td>
      <td>{{candidate['name']}}</td>
    </tr>
    {% endfor %}
  </table>
{% endif %}


<script type="text/javascript">
  function encrypt(event) {
    // Generated values
    const combined_public_key = bigInt("{{combined_pub}}");
    const p = bigInt("{{p}}"); 
    const g = bigInt("{{g}}"); 

    var candidate_id = event.target.id;
    var list_of_candidates_result = [[0,0,0]];
    if (candidate_id === "2F38ZSHD") {
      list_of_candidates_result = [[1,0,0]];
    } else if (candidate_id === "38FHFDSD") {
      list_of_candidates_result = [[0,1,0]];
    } else if (candidate_id === "9DSAUJ8A") {
      list_of_candidates_result = [[0,0,1]];
    }
    console.log(event.target.id +" : "+ list_of_candidates_result);

    let ciphertexts = [];
    for (let i = 0; i < list_of_candidates_result.length; i++) {
       for (let j = 0; j < list_of_candidates_result[i].length; j++) {
         console.log(list_of_candidates_result[i][j]);
         let pt = list_of_candidates_result[i][j];
         let [a1, b1] = encryptData(combined_public_key, pt);
         let bigIntNuma1 = BigInt(a1);
         let bigIntNumb1 = BigInt(b1);
         ciphertexts.push([bigIntNuma1.toString(), bigIntNumb1.toString()]);
         //console.log(a1, b1);
         //console.log(bigIntNuma1, bigIntNumb1);
       }
     }

     const request = new XMLHttpRequest();
     request.onreadystatechange = function() {
     if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        // Redirect the user to the vote_success page
        window.location.href = "/vote_success";
       }
     };

     const data = {
                    c1: ciphertexts[0],
                    c2: ciphertexts[1],
                    c3: ciphertexts[2]
                  };
     request.open('POST', `/sendVote`);
     request.setRequestHeader("Content-Type", "application/json");              
     request.send(JSON.stringify(data));
  }

function encryptData(combined_public_key, pt) {
    let p = bigInt("{{p}}"); 
    let g = bigInt("{{g}}");
    let r = bigInt.randBetween(3, p); // generate random integer r in [3, p)

    let a1 = modularExponentiation(g, r, p);
    let b1 = modularExponentiation(combined_public_key, r, p) * modularExponentiation(g, bigInt(pt), p) % p;


    return [parseInt(a1), b1];
  }

function toPlainString(num) {
  return (''+ +num).replace(/(-?)(\d*)\.?(\d*)e([+-]\d+)/,
    function(a,b,c,d,e) {
      return e < 0
        ? b + '0.' + Array(1-e-c.length).join(0) + c + d
        : b + c + d + Array(e-d.length+1).join(0);
    });
}
function modularExponentiation(base, exponent, modulus) {
  let result = bigInt(1);
  base = base.mod(modulus);
  while (exponent > 0) {
    if (exponent.and(1) == 1) {
      result = result.multiply(base).mod(modulus);
    }
    exponent = exponent.shiftRight(1);
    base = base.square().mod(modulus);
  }
  return result;
}

</script>
{% endblock %}
